table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}



.edit-action{
  border-radius: 50px;
  height: 40px;
  color: rgb(102 102 102);
  border: 2px solid;
}

.table-action{
  display: flex;
  align-items: center;
  justify-content: space-between;
.filter{

}
.actions{

}
}
